<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>novelCheck</title>
</head>
<body>
    <h1>diala</h1>



    <table class="table">
        <h2>Novels</h2>
        <tr>
            <th>Tytuł</th>
            <th>Chapter</th>
            <th>Chapter link</th>
            <!-- tutaj popisze jakieś dod funkcje -->


        </tr>
        <tr th:each="KatalogNovel : ${katalog}">
            <td th:text="${KatalogNovel.tytul}">Tytuł</td>
            <td th:text="${KatalogNovel.chapNum}">Nr ostatinego chapteru</td>
            <td th:text="${KatalogNovel.chapLink}">Link do ost. chapteru</td>

        </tr>
    </table>
    <a href="/index">Powrót</a>
</body>
</html>