<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>novelCheck</title>
</head>
<body>
    <h1>user nov</h1>



    <table class="table">
        <h2>Novels</h2>
        <tr>
            <th>Tytuł</th>
            <th>Chapter</th>
            <th>Chapter link</th>
            <!-- tutaj popisze jakieś dod funkcje -->


        </tr>
        <tr th:each="UserUser : ${katalog}">
            <td th:text="${UserUser.userName}">Tytuł</td>
            <td th:text="${UserUser.email}">Nr ostatinego chapteru</td>

            <p> </p>
            <tr th:each="KatalogUpdate : ${katalog2}">
                <td th:text="${KatalogUpdate.novelID}"></td>
                <td th:text="${KatalogUpdate.strona}"></td>

            </tr>
        </tr>




    </table>
    <a href="/index">Powrót</a>
</body>
</html>


<!--

     -->
