<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>novelCheck</title>
</head>
<body>
    <h1>Tymczasowy form do przechodzneia  miezy html</h1>


    <p>
        <form th:action ="@{/strona}">Novelki z danej strony
        <select th:name=strona>
            <option value="NovelUpdates">NovelUpdates</option>
            <option value="ScribbleHub">ScribbleHub</option>
        </select>
        <button type="submit" >sub</button>
        </form>
    </p>


    <p>
        <a href="/all">Wszystkie novelki</a>
    </p>

    <p>
        <form th:action ="@{/novelka}">Poj novelka
            <input type="text" th:name="novelID"/>
        <button type="submit " >sub</button>
        </form>

    </p>

    <p>
        <a href="/newNovel">Dodaj nową novelke</a>
    </p>


</body>
</html>