<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>novelCheck</title>
</head>
<body>
    <h1>newnovel form</h1>

<form th:action="@{/newNovel}" th:object="${newNovelForm}" method="post">
    <p>novelID: <input type="text" th:field="*{novelID}"/></p>
    <p>strona :
        <select th:field="*{strona}">
            <option value="NovelUpdates">NovelUpdates</option>
            <option value="ScribbleHub">ScribbleHub</option>
        </select>


    <p ><input type="submit" value="Submit"/></p>
</form>


    <a href="/index">Powrót</a>
</body>
</html>